/* Task 1 : SelfIntroduction */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

div {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #2c3e50;
}
 */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #d8b4fe, #bfdbfe);
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card {
  background: white;
  width: 800px;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #6d28d9;
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

.info-box {
  background: #f5f3ff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.info-box:hover {
  transform: translateY(-3px);
}

.info-box h3 {
  color: #6d28d9;
  margin-bottom: 5px;
}

.info-box p {
  color: #333;
  font-size: 17px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #6d28d9;
  font-weight: bold;
} */


/* Task 2 : Parent and Child components */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #f05af0, #4f9cf9);
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
}

.container h1 {
  text-align: center;
  color: white;
  font-size: 55px;
}

.subtitle {
  text-align: center;
  color: white;
  margin-bottom: 40px;
  font-size: 20px;
}

.user-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.user-card:hover {
  transform: translateY(-5px);
}

.profile-icon {
  font-size: 70px;
  color: #6c63ff;
}

.user-name h2 {
  color: #6c63ff;
}

.user-name span {
  background: #6c63ff;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info svg {
  color: #6c63ff;
  font-size: 28px;
}

.info p {
  color: gray;
}

.info h4 {
  color: #222;
}

@media (max-width: 768px) {
  .user-card {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}